<header class="main-header">
  <div class="branding">


    <div class="mast">
      <h1 itemprop="name" class="headline">Picture <span id="your">Your</span> Prosperity</h1>
      {{!-- <h2 class="headline">Smart Money Moves to Turn Your Vision into Reality</h2> --}}
    </div>
  </div>
  <div class="grid-item {% if logo_center %} col-12{% else %}col-7 medium-down--col-12{% endif %}">
    <nav id="navWrap" role="navigation">
      <ul id="nav">
        {% for link in linklists.main-menu.links %} {% assign has_drop_down = false %} {% assign child_list_handle = link.title | handle %} {% comment %}If the link uses the arabic, hebrew or cyrillic alphabet, or is in Chinese or Japanese, the handle will be
        empty.{% endcomment %} {% if child_list_handle == '' %} {% for i in (0..8) %} {% unless has_drop_down %} {% if forloop.first %} {% assign temp = 'link-list' %} {% else %} {% capture temp %}link-list-{{ i }}{% endcapture %} {% endif %} {% if
        linklists[temp] and linklists[temp].links.size > 0 and linklists[temp].title == link.title %} {% assign has_drop_down = true %} {% assign child_list_handle = temp %} {% endif %} {% endunless %} {% endfor %} {% else %} {% if linklists[child_list_handle]
        and linklists[child_list_handle].links.size > 0 %} {% assign has_drop_down = true %} {% endif %} {% endif %}
        <li class="nav-item{% if forloop.first %} first{% endif %}{% if link.active %} active{% endif %}{% if has_drop_down %} has-dropdown{% endif %}">
          <a class="nav-item-link" href="{{ link.url }}">{{ link.title }}{% if has_drop_down %} <span class="icon icon-arrow-down" aria-hidden="true"></span>{% endif %}</a>
          {% if has_drop_down %}
          <ul class="sub-nav">
            {% for l in linklists[child_list_handle].links %}
            <li class="sub-nav-item{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
              <a class="sub-nav-item-link {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}" href="{{ l.url }}">{{ l.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="header-tools">

    <div class="header-actions">


      {% comment %} {% if shop.customer_accounts_enabled %}
      <p class="large--left medium-down--hide">
        {% if customer %} Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ "Logout" | customer_logout_link }} {% else %} {{ 'Log in' | customer_login_link }}{% if shop.customer_accounts_optional %} or {{ 'Create an account' | customer_register_link
        }}{% endif %} {% endif %}
      </p> <span class="cart-count">1</span>
      {% endif %} {% if settings.show_multiple_currencies %} {% include 'snippet-currency-picker' %} {% endif %} {% endcomment %}


        <a class="cart-link" href="/cart">&#57346;<span class="cart-count">{{ cart.item_count}}</span></a>
      </p>
      <span class="drawer-toggle"></span>
    </div>

  </div>

  {% if settings.logo_alignment == 'center' %} {% assign logo_center = true %} {% endif %}
  <div class="grid-full nav-bar{% unless logo_center %} nav-bar--left{% endunless %}">
    {% comment %}
    <div class="grid-item {% if logo_center %} col-12{% else %}col-5 medium-down--col-12{% endif %}">
      {% if settings.use_logo %}
      <a id="logo" href="/" role="banner">
          {{ 'logo.png' | asset_url | img_tag: shop.name }}
        </a>
      {% else %}
      <h1 id="title"><a href="/">{{ shop.name }}</a></h1>
      {% endif %} {% if settings.use_logo and template == 'index' %}
      <h1 class="hidden">{{ shop.name }}</h1>
      {% endif %}
    </div>
    {% endcomment %}

  </div>

</header>
